.attribution {
    font-size: 20px;
    text-align: center;
  }

.attribution a {
    color: hsl(0, 100%, 50%);
  }

main {
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box {
    width: 380px;
    height: 460px;
}

#box1 {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

#box2 {
    background-color: hsl(184, 100%, 22%);
}

#box3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    word-spacing: 6px;
}

svg {
    margin-left: 40px;
    margin-top: 40px;
}

button {
    margin-top: 100px;
    margin-left: 40px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    border: 3px solid white;
    border-radius: 30px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    text-align: center;
    text-transform: transparent;
    vertical-align: middle;
}

@media screen and (max-width: 375px) {
  html {
    font-size: 8px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .box {
      width: 300px;
      height: 450px;
  }

  button {
      justify-content: center;
      text-align: center;
  }
}